/*certificates start*/
body{
    background-color: black;
}
.certificates {
    display: grid;
  
    grid-template-columns: repeat(4, 1fr); /* Creates 4 columns */
    gap: 10px;
    margin-top: 30px;
  }
  .certificate {
    margin: 10px;
    text-align: center;
  }
  .certificate img {
    max-width: 200px;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  .certificate img:hover {
    transform: scale(1.1);
  }
  .certificate a {
    color: #00adb5;
    text-decoration: none;
    display: block;
    margin-top: 5px;
  }
  h2{
    color: #00adb5;
    font-family: "Dancing Script";
  }
  
  

/* Responsive Design for smaller screens */
@media (max-width: 1200px) {
  .certificates {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

@media (max-width: 900px) {
  .certificates {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

@media (max-width: 600px) {
  .certificates {
    grid-template-columns: 1fr; /* 1 column for mobile screens */
  }
}
